h1 {
  text-align: center;
  color: #22313f;
  size: 150px;
  padding: 20px;
  border: solid #34495e 3px;
  line-height: 50px;
}
h2 {
  font-weight: bold;
}
h3 {
  margin-top: 0px;
  font-size: 15px;
}
h4 {
  font-weight: normal;
  font-size: 15px !important;
  color: #22313f;
}

.WeatherInfo {
  margin: 0;
  padding: 0;
  color: #22313f;
}
.Description {
  color: #48484a;
}
.row {
  position: relative;
  top: -70px;
  left: 10px;
}
